/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: rgb(255, 22, 22);
    --text-color: black;
    --bg-color: white;
}

/* new nav */
    
.nav {
    
    background-color: rgb(11, 36, 71);
    height: 60px;
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 1.2rem;
    position:fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 ;
    
    
}

.nav_container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    /* max-width: 1300px; */
    margin:0;
    padding: 0 25px;
    z-index: 1;
}


#nav_logo {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem; 
}

.mobile-container{
    display: none;
}

#nav_logo-mobile {
    display: none;
}

.nav_menu {

    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.bi-cart-fill{
    color: #fff;
}

.nav_item {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
    height: 100%;
    width: 100%;

}

.nav_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
}

.button:hover{
    background: rgb(25, 55, 109);
    transition: all 0.4s ease; 
}

.nav_links:hover{
    background: rgb(25, 55, 109);
    transition: all 0.4s ease; 
}


/* search-bar */
:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}



.form-input {
	display: flex;
	align-items: center;
	height: 36px;
}

.form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}

.form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

.form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
/* search-bar END*/

/* nav - end */

/* new nav end */

img {
    width: 100%;
}

body {
    color: var(--text-color);
    width: 100%;
}

.container {
    margin:auto;
    
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

}

.cart-header{

    margin: 10px 30px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 3px rgba(168, 168, 168, 0.637);
    padding: 20px 30px;
    font-size: 2.2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 5% / 10%);
    z-index: 100;
}

#cart-icon {
    color: var(--bg-color);
    font-size: 1.8rem;
    cursor: pointer;
}

#user-icon {
    color: var(--bg-color);
    font-size: 1.8rem;
    cursor: pointer;
}

/* cart */
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active {
    right:0;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}


.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: rgb(0, 145, 255);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background:rgb(87, 182, 255) ;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}


.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: none;
}

/* Shop content */

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.product-box:hover {
    border: solid 1px rgb(160, 160, 160);
    padding: 5px;
    transition: 0.4s;
} 

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-bottom: solid 2px rgb(150, 150, 150);
}

.product-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    padding: 0 7px;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-cart:hover {
    background: rgb(54, 54, 54);
}

.product-box {
    position: relative; 
    border: solid 1px rgb(160, 160, 160);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}


div.product-box img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}

.add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
}

.shop-content i{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 20px;
}



/* mobile responsive */

@media screen and (max-width: 1080px){

    .section {
        padding: 3rem 0 2rem;
    }

    .container{
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
    
}

@media screen and (max-width: 500px) {

    .shop {
        margin-top: 3rem !important;
    }

    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: auto; 
        width: 100%;       
    }

    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;    
        height: auto;
        width: 100%;  
    }


    /* mobile view hidden container */

    .mob-fixed-cont {
        display: flex;
        justify-content: center;
        width:100%;
        height: auto;
    }

    .mobile-container{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: left;
        width:100%;
        height: 50px;
        background: rgb(25, 55, 109);
    }
    
    #nav_logo-mobile {
        display:flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
        margin: 0 20px;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5rem;
    }


    #cart-icon {
        display:flex;
        align-items: center;
        justify-content: center;
        color: black;
    }

    #user-icon {
        display:flex;
        align-items: center;
        justify-content: center;
        color: black;
    }

    .bx-user-circle {
        height: 100%;
    }



    /* mobile view hidden container - end */
    
/* navigation */
    .nav {
        margin-top: 50px;
        background: white;
        height: 50px;
        width:100%;
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 1.2rem;
        position:fixed; 
        top: 0;
        z-index: 999;     
    }


    .nav_container{
        display: flex;  
        align-items: center;
        
        justify-content: center;
        height: 50px;
        z-index: 1;
        width: 100%;
        padding: 0;
        
    }

    .nav_menu{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1; 
        
    }
    

    .nav_menu.active{
        
        background-color:white;
        top: 100%;
        opacity: 1;
        transition: all 0.2s ease;
        height: 60vh;
        font-size: 1.2rem;
    }

    #nav_logo{
        display: none;
        padding-left: 10px;
        font-size: 20px;       
        width: fit-content;
    }

    .nav_toggle .bar{
        display:block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        margin-top: 1px;
        transition: all 0.4 ease-in-out;
        background: rgb(25, 55, 109);
    }   

    .nav_item{
        width: 100%;
    }

    .bi .bi-cart-fill{
        color: rgb(0, 0, 0);
    }

    .nav_links{
        text-align: center;
        
        box-shadow: 0 2px rgba(165, 215, 232, 0.646);
        padding: 1rem;
        width: 100%;
        display: table;
        color: rgb(0, 0, 0);
    }

    #mobile-menu { 
        
        position: absolute;
        margin: 0 10px;
        align-items: center;
        justify-content: center;
        top: 20%;
        right: 1%;
        transform: translate(5%, 20%);
    }


     #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
     }

     #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
     }

     #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
     }

    /* navigation-end */


 /* search-bar */
    .searchbar-container {
        display: flex;
        justify-content:right;
        align-items:center;
        width: 100%;
        padding: 0 55px;    
    }


.form-input {
	display: flex;
	align-items: center;
	height: 30px;
}

.form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}

.form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

.form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
/* search-bar END*/



    .section-title {
        margin-top: 2rem;
    }


    .cart {
        width: 320px;
    }

    /* HEADER */

    .header-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    
    }
    
    .cart-header{   
        margin: 10px 30px;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px rgba(168, 168, 168, 0.637);
        padding: 20px 30px;
        font-size: 1.3rem;
    }

    .product-box {
        margin: 0 30px;
        border: solid 1px rgb(160, 160, 160);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }

    
    div.product-box img{
        width: 100%;
    }
    
    .add-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: static;
        bottom: 0;
        right: 0;
        background: var(--text-color);
        color: var(--bg-color);
        padding: 10px;
        width: 50%;
        border-radius: 15px;
        cursor: pointer;
    }

    .shop-content i{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.5rem;
       
        margin-top: 20px;
    }

}

/* new media screen  */
    

@media screen and (min-width: 700px){

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: auto; 
        width: 100%;       
    }

    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;    
        height: auto;
        width: 100%;   
    }
    
.nav {
    
    background-color: rgb(11, 36, 71);
    height: 60px;
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 1.2rem;
    position:fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 ;
    
    
}

.nav_container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    /* max-width: 1300px; */
    margin:0;
    padding: 0 25px;
    z-index: 1;
}


#nav_logo {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem; 
}

.mobile-container{
    display: none;
}

#nav_logo-mobile {
    display: none;
}

.nav_menu {

    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.bi-cart-fill{
    color: #fff;
}

.nav_item {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
    height: 100%;
    width: 100%;
    font-size: 10px;

}

.nav_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
}

.button:hover{
    background: rgb(25, 55, 109);
    transition: all 0.4s ease; 
}

.nav_links:hover{
    background: rgb(25, 55, 109);
    transition: all 0.4s ease; 
}


/* search-bar */

.searchbar-container {
    display: flex;
    justify-content:right;
    align-items:center;
    width: 100%;
    padding: 0 10px;    
}

.form-input {
display: flex;
align-items: center;
height: 30px;
}

.form-input input {
flex-grow: 1;
padding: 0 16px;
height: 100%;
border: none;
background: var(--grey);
border-radius: 36px 0 0 36px;
outline: none;
width: 100%;
color: var(--dark);
}

.form-input button {
width: 36px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background: var(--blue);
color: var(--light);
font-size: 18px;
border: none;
outline: none;
border-radius: 0 36px 36px 0;
cursor: pointer;
}

.form {
max-width: 400px;
width: 100%;
margin-right: auto;
}
/* search-bar END*/

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    padding: 0 50px;
}



/* nav - end */

}
/* new media screen end */

@media screen and (min-width: 1024px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: auto; 
        width: 100%;       
    }

    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;    
        height: auto;
        width: 100%;   
    }
/* new nav */

.mobile-container{
    display: none;
}

#nav_logo-mobile {
    display: none;
}


.nav_item {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
    height: 100%;
    width: 100%;
    font-size: 15px;

}

.search.active
{
    width: 260px;
}



}